@page "{id}"
@model IMS.BE.Pages.Master.EditModel
@{
}
<div class="row">
    <div class="col-md-12">
        <h2>Edit Barang</h2>
    </div>
</div>
<hr />

<div class="card">
    <div class="card-body">
        <form method="post">
            @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <div class="text-danger">
                    @Model.ErrorMessage
                </div>
            }
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <label for="SkuId">Kode SKU</label>
                            <input type="text" class="form-control" asp-for="BarangModel.SkuId" disabled />
                            <span asp-validation-for="BarangModel.SkuId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <label>Kategori</label>
                            <input type="text" class="form-control" asp-for="BarangModel.Kategori" disabled />
                            <span asp-validation-for="BarangModel.Kategori" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <label for="status">Name</label>
                            <input type="text" class="form-control" asp-for="BarangModel.Name" />
                            <span asp-validation-for="BarangModel.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 mt-auto d-flex justify-content-end ml-auto">
                            <button type="submit" class="btn btn-primary mt-auto">Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>